:root{
    --amarillo:#ffec00;
}
html{
    font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*::after {
  /*Codigo para no adulterar la caja*/
  box-sizing: inherit;
}

body{
    margin: 0;
    font-size: 16px;
}
header{
background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 100;
}


nav{
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: black;
    
}

.logo{
    width: 5%;
    margin-left: 2rem;
}
.navegacion{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    
}

.navegacion {
    list-style: none;
    
}
.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 3rem;
    padding: 3.2rem 1rem;
    height: 100%;
    
}

.navegacion a:hover{
    border-bottom: solid 0.5rem var(--amarillo);
    transition: 0.2s;
}

.navegacion a span{
    color: var(--amarillo);
    font-size: 2rem;
}

.iredes{
    display: flex;
    justify-content: end;
    margin-right: 3rem;
    width: 30%;
}

.iredes svg{
    margin-right: 0.8rem;
}
